@media ( max-width : 640px ) {

  .button-start {
    align-items: center;
    background-color: #f4a261;
    border: none;
    border-radius: 10px;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: space-around;
    left: 0;
    position: fixed;
    width: 360px;
  }

  .img-details {
    width: 360px;
  }


  .conteiner-details {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-top: 10px;
  }

  .title-category {
    color: #a8dadc;
    margin-left: 15px;
  }

  .title-ingredients {
    color: #1d3557;
    margin-left: 15px;
  }

  .title-recipe {
    color: #1d3557;
  }

  .conteiner-ingredients {
    background-color: #a8dadc;
    height: auto;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px;
    width: 330px;
  }

  .video {
    height: auto;
    margin-bottom: 10px;
    margin-left: 15px;
    padding: 10px;
    width: 330px;
  }

  .conteiner-geral {
    margin-bottom: 70px;
  }

  .icon-btn {
    background-color: white;
    border: none;
    height: 26px;
    margin-top: 10px;
    padding: 5;
  }

  .conteiner-button {
    align-items: flex-end;
    display: flex;
  }
}
