@media ( max-width : 640px ) {

  footer {
    align-items: center;
    background: #d4d4d4;
    background-color: #219ebc;
    bottom: 0;
    display: flex;
    height: 60px;
    justify-content: space-around;
    left: 0;
    position: fixed;
    width: 360px;
  }

}
