@media ( max-width : 640px ) {

  .conteiner {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
  }

  .form-control {
    margin-bottom: 10px;
    margin-left: 25px;
    width: 85%;
  }

  .conteiner-btn {
    display: flex;
    justify-content: center;
  }

  .title {
    color: #1d3557;
    margin-top: 60%;
    text-align: center;
  }

  .btn-enter {
    background-color: #faaf4b;
    color: #023e8a;
    margin-top: 10px;
  }

  .input-login {
    background-color: #a8dadc;
    border: none;
    border-radius: 5px;
    color: #1d3557;
    margin-left: 25px;
    margin-top: 10px;
    padding: 5px;
    width: 310px;
  }
}
